<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
  <h1>Greg's list</h1>
  <h2>Subjects</h2>

<ul>
  <% @articles.each do |article| %>
  <li>
    <a href="/articles/<%= article.id %>"><%= article.subject %></a>
  </li>
  <% end %>
</ul>
</body>
</html>
